{% sw_extends '@Storefront/storefront/element/form-components/cms-element-form-info-required.html.twig' %}

{% block cms_form_info_required_fields_content %}
    <div class="block mt-1 mt-4 mb-2">
        {{ "general.requiredFields"|trans }}
    </div>
{% endblock %}
