{% sw_extends '@Storefront/storefront/component/review/point.html.twig' %}

{% block component_review_point %}
    {% if size is not defined %}
        {% set size = 'xs' %}
    {% endif %}

    <span class="product-review-point relative z-10 -left-0.5 -top-1">
        {% if type == 'half' %}
            <div class="point-container">
                <div class="point-rating point-partial-placeholder">
                    {% sw_icon 'star' style { 'color': 'light', 'size': size, 'pack': 'solid' } %}
                </div>
                <div class="point-rating point-partial" style="clip-path: inset(0 {{ (1 - left) * 100 }}% 0 0)">
                    {% sw_icon 'star' style { 'color': 'review', 'size': size, 'pack': 'solid' } %}
                </div>
            </div>
        {% elseif type == 'blank' %}
            <div class="point-container">
                <div class="point-rating point-blank">
                    <svg fill="var(--border-color)" viewBox="2 7 20 8" class="inline w-7 h-7 transition-transform duration-200 transform">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                </div>
            </div>
        {% else %}
            <div class="point-container">
                <div class="point-rating point-full">
                    <svg fill="var(--navigation-active-color)" viewBox="2 7 20 8" class="inline w-7 h-7 transition-transform duration-200 transform">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                </div>
            </div>
        {% endif %}
    </span>
{% endblock %}
