{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {% block layout_top_bar %}
        {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}
    {% endblock %}

    {% block layout_header_navigation %}
        <div class="flex flex-wrap items-center header-row">
            {% block layout_header_logo %}
                <div class="col-lg-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_search %}
                <div class="order-2 relative flex-grow flex-1 order-1 header-search-col">
                    <div class="flex flex-wrap ">
                        <div class="relative flex-grow max-w-full flex-1 px-4">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block layout_header_actions %}
                <div class="order-1 col-sm-auto order-2 header-actions-col absolute right-0 top-20 z-40 sm:relative sm:inset-0">
                    <div class="flex flex-wrap  no-gutters relative top-2 sm:inset-0">

                        {% block layout_header_search_toggle %}
                            <div class="col-auto">
                                <div class="search-toggle">
                                    <button class="inline-block align-middle text-center select-none font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                        {% sw_icon 'search' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}

                        {% block layout_header_actions_account %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}

                        {% block layout_header_actions_cart %}
                            <div class="col-auto">
                                <div class="header-cart"
                                     data-offcanvas-cart="true">
                                    <a class="inline-block align-middle text-center select-none font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline header-cart-btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
