{% sw_extends '@Storefront/storefront/block/cms-block-category-navigation.html.twig' %}

{% block block_category_navigation %}
    {% set element = block.slots.getSlot('content') %}

    <div class="w-full" data-cms-element-id="{{ element.id }}">
        {% block block_text_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
