{% sw_extends '@Storefront/storefront/block/cms-block-text-on-image.html.twig' %}

{% block block_text_on_image %}
    {% set element = block.slots.getSlot('content') %}
    {% set columns = 1 %}

    <div class="w-full" data-cms-element-id="{{ element.id }}">
        {% block block_text_on_image_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
